{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class=" title col-12 text-center">
            <h1> Ajouter Produit</h1>
        </div>


        <div class="col-12 col-md-6 offset-md-3 ">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.enabled) }}

            <button type="submit" class="btn btn-primary float-right">Ajouter</button>
            <button type="reset" class="btn btn-secondary float-right mr-2">Annuler</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}


