<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('eshop_homepage') }}">
            eShop - site eCommerce de test
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('eshop_homepage') }}">Accueil</a>
                </li>
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Se connecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('eshop_order_list') }}">Commandes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('easyadmin') }}">Admin</a></li>
                                <li><hr class="dropdown-divider"/></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <button onclick="openBasket()" type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#cartModal">
                    <i class="bi-cart-fill me-1"></i>
                    Panier
                    <span id="basket-products-quantity" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>